WEB_PORT=<SET EXPOSED PORT FOR WEBSERVER>
ENCRYPTION_SALT=<GENERATE YOUR OWN RANDOM SALT STRING HERE>
REDIS_REQUIREPASS=<GENERATE A SECURE PASSWORD FOR REDIS HERE>
REDIS_SAVE=300 1 120 5 60 10
REDIS_STORAGE_PATH=<PATH TO PERSISTANT STORAGE DIRECTORY FOR REDIS>