DOMAIN=klistra.net
LE_EMAIL=you@example.com

# Host port to bind your app service (avoid 80/443 because Traefik will bind them)
WEB_PORT=8080

ENCRYPTION_SALT=SALTBAY
REDIS_REQUIREPASS=admin
REDIS_SAVE="300 1 120 5 60 10"
REDIS_STORAGE_PATH=./redis/storage