version: "3"

services:
  web:
    image: ghcr.io/esaiaswestberg/klistra_nu:latest
    ports:
      - "${WEB_PORT}:80"
    environment:
      REDIS_REQUIREPASS: ${REDIS_REQUIREPASS}
      REDIS_HOST: redis
      ENCRYPTION_SALT: ${ENCRYPTION_SALT}
    depends_on:
      - redis
    restart: always
    command: ["apache2-foreground"]

  redis:
    image: redis:7.4
    environment:
      - REDIS_PASSWORD=${REDIS_REQUIREPASS}
    command: redis-server --requirepass ${REDIS_REQUIREPASS} --save ${REDIS_SAVE}
    volumes:
      - ${REDIS_STORAGE_PATH}:/data
    restart: always